
<div class="product-item-new">
    <input type="hidden" id="product__id_one" value="{{product.id}}">
    <p class="itemParagerafUp">{{product.categories.all|join:", " }}</p>
    <p class="itemParagerafDown">{{product.title}}</p>
    <img src="{{ product.image.url }}" class="" alt="">
    <br>
    <div class="product-detail">
        <h2>{{product.smallDescription}}</h2>
        {% if product.priceOff != NaN %}
        <p class="product_detail_kh"><span class="ToPersian" >{{product.priceOff}}</span><span>تومان</span></p>
        {%endif%}
        <p><span class="ToPersian" >{{product.price}}</span><span>تومان</span></p>
        <p class="number_product"> تعداد: <span class="ToPersian">{{product.number}}</span></p>
        <a class="kharid_1_add">خرید</a>
        <a class="get_address" href="{{ product.get_absolute_url }}">مشاهده</a>
    </div>
</div>

