.post_info{
    width: calc(95% - 40px); /*todo :fealan in bashe baadan 100% shavad*/
    border-radius: 20px;
    border: 1px solid #3a3b385e;
    margin: 20px;
    height: auto;
}

.post_info>div:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px;
}

.post_info>div:nth-child(2)>div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.post_info>div:nth-child(2)>div:first-child>p{
    font-family: 'samim';
    font-size: 14px;
    font-weight: bold;
    padding: 0px!important;
}

.post_info>div:nth-child(2)>div:first-child>span{
    font-family: 'samim';
    font-size: 14px;
}

.post_info>div:nth-child(2)>div:last-child>p:first-child
{
    font-family: 'samim';
    font-size: 14px;
    color: #00a8ff;
    cursor: pointer;
    padding: 0px;
}

.post_info>div:nth-child(2)>div:last-child>p:last-child
{
    font-family: 'samim';
    font-size: 14px;
    color: red;
    cursor: pointer;
    padding: 0px;
}

.post_info>div:nth-child(4)
{
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}
.post_info>div:nth-child(4)>p{
    font-family: 'samim';
    font-size: 16px;
    font-weight: normal!important;
}
.post_info>div:nth-child(4)>span{
    margin: 0px 5px;
}
.post_info>div:nth-child(4)>svg{
    margin-left: 10px;
    color: #dbd067;
}

/**/

.post_info>div:nth-child(5){
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.post_info>div:nth-child(5)>div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.post_info>div:nth-child(5)>div:first-child>svg{
    color: #ffa800;
}
.post_info>div:nth-child(5)>div:nth-child(3)>svg{
    color: #00a8ff;
}
.post_info>div:nth-child(5)>div:nth-child(5)>svg{
    color: green;
}
.post_info>div:nth-child(5)>div>p{
    padding: 10px;
    font-family: 'samim';
    font-size: 16px;
    font-weight: normal!important;
}
.post_info>div:nth-child(5)>span
{
    margin: 0px 10px 0px 0px;
    font-size: 25px;
    color: #3a3b385e;
}
