.content-user-account{
    position: relative;
    top: 200px;
    width: 100%;
    height: 60vh;

    background-size: cover;
    background-position: center;
    padding: 0;
    margin-bottom: 200px;

}



.user-panel ,
.edite-profile ,
.exit {
    text-align: center;
    font-size: 30px;
    background-color: #3e60a8;
    padding: 30px 0px 30px 0px;
    color: antiquewhite;
    font-family: 'samim';
    margin-bottom: 5px;
}

.user-panel:hover ,
.edite-profile:hover ,
.exit:hover {
    background-color: #dbd067;
}

.user-panel:hover a ,
.edite-profile:hover a ,
.exit:hover a {
    color: #3e60a8;
}

.user-panel a,
.edite-profile a,
.exit a{
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
}