{% extends 'shared/_MainLayout.html' %}
{% load static %} 
{% block content %}

<link rel="stylesheet" href="{% static 'css/edit_account.css' %}">

<section class="content_accunt">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group rdio_button {% if edit_form.choice_field.errors %} errror {% endif %}">
            <label for="{{ edit_form.choice_field.id_for_label }}">{{ edit_form.choice_field.label }}</label>
            {{ edit_form.choice_field }}
            {% for error in edit_form.choice_field.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
        </div>

        <div class="form-group form_name {% if edit_form.first_name.errors %} errror {% endif %}">
            <label for="{{ edit_form.first_name.id_for_label }}">{{ edit_form.first_name.label }}</label>
            {{ edit_form.first_name }} {% for error in edit_form.first_name.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
        </div>
        <div class="form-group form_name {% if edit_form.last_name.errors %} errror {% endif %}">
            <label for="{{ edit_form.last_name.id_for_label }}">{{ edit_form.last_name.label }}</label>
            {{ edit_form.last_name }} {% for error in edit_form.last_name.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
        </div>

        <div class="form-group form_name {% if edit_form.email.errors %} errror {% endif %}">
            <label for="{{ edit_form.email.id_for_label }}">{{ edit_form.email.label }}</label>
            {{ edit_form.email }} {% for error in edit_form.email.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
        </div>


        <div class="form-group form_name">
            <label for="">تاریخ تولد</label>
            <div class="birth_day_content">
                {{ edit_form.ROZ }} 
                {{ edit_form.MAH }} 
                {{ edit_form.SAL }} 
            </div>
        </div>

        <div class="send-group ">
            <input type="submit" value="ارسـال">
        </div>
    </form>

    <script src="{% static 'js/password.js' %}"></script>

{% endblock %}