{% extends 'shared/_MainLayout.html' %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!-- <div style="position: relative;  background-color: red; z-index: 1000000;" >hojjat shahpar
</div> -->
<section class="bg-img">
    <div class="content">
        <h5> بازیابی رمز عبور</h5>

        <form method="post">
            {% csrf_token %}
            {% if validlink %}
            <div class="field">
                <div class="user-icon"><span class="fa fa-lock "></span></div>
                {{ form.new_password1 }}
                <div class="show">نمایش</div>
            </div>
            <br>
            {% for error in  form.new_password1.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}

            <div class="field space"> 
                <div class="pass-icon"><span class="fa fa-lock "></span></div>
                {{ form.new_password2 }}
                <div class="show">نمایش</div>
            </div>
            <br>
            {% for error in form.new_password2.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}



            <div class="field ">
                <input type="submit" value="انجام">
            </div>
            {% else %}
            <p>لینک منقضی شده است</p>
            <p>برای بازیابی رمز عبور دوباره <a href={% url 'password_reset' %}>کلیک کنید</a></p>
            {% endif %}
        </form>

    </div>
</section>

<script src="{% static 'js/forgetPass.js' %}"></script>

{% endblock %}