{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">

<!-- <div style="position: relative;  background-color: red; z-index: 1000000;" >hojjat shahpar
</div> -->
<section class="bg-img">
    <div class="content">
        <h5>گذرواژهٔ جدید ایجاد شد </h5>


        <p class=" title_reser_password">
            گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید
        </p>
        <br>
        <a href={% url 'login' %} class=" title_reser_password">ورود</a>

    </div>
</section>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">\ 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گذرواژهٔ جدید ایجاد شد </title>
</head>
<body>
    <div>
    <h1>گذرواژهٔ جدید ایجاد شد</h1>  
    <p>گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.

    </p> 
    <br> 
    <a href={% url 'login' %}>ورود</a>
    </div>
</body>
</html> -->