{% extends 'shared/_MainLayout.html' %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!-- <div style="position: relative;  background-color: red; z-index: 1000000;" >hojjat shahpar
</div> -->
<section class="bg-img">
    <div class="content">
        <h5>بازیابی رمز عبور</h5>

        <form method="post">
            {% csrf_token %}

            <div class="field">
                <div class="user-icon"><span class="fa fa-user "></span></div>
                {{ form.email }}
            </div>
            <br>
            {% for error in form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}



            <div class="field ">
                <input type="submit" value="ارسال لینک بازیابی">
            </div>
            <!-- <button type="submit" class="btn btn-default">ورود</button> -->
        </form>
        <!-- <form action="#">
            <div class="field">
                <div class="user-icon"><span class="fa fa-user "></span></div>
                <input class="rtl" type="text" required placeholder="ایمیل یا شماره موبایل">
            </div>
            <div class="field space">
                <div class="pass-icon"><span class="fa fa-lock "></span></div>
                <input type="password" class="password rtl " required placeholder="رمز">
                <div class="show">نمایش</div>
            </div>
            <div class="pass">
                <a href="#">فراموشی رمز</a>
            </div>
            <div class="field ">
                <input type="submit" value="ورود">
            </div>

            <div class="singup">نداشتن اکانت ؟
                <a href="#">ثبت نام</a>
            </div>
        </form> -->
    </div>
</section>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}