{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

{% load jformat %}

<link rel="stylesheet" href="{% static 'css/UnpaidOrder.css' %}">

<!-- <section class="content-user-account">
    <section class="user-panel">
        <a href="#">پنل کاربری</a>
    </section>
    
    <section class="edite-profile">
        <a href="user/edit">ویرایش اطلاعات</a>
    </section>
    
    <section class="exit">
        <a href="#">خروج</a>
    </section>
</section> -->

<div class="user_content">
    <div>
        <div class="right_listOfFeatures">
            <div class="right_headerList">

                <img src="{% static 'images/avatar.jpg' %}" alt="Avatar">
                <div>
                    <p> {{user.first_name}} {{user.last_name}} </p>
                    <h4>{{user.email}}</h4>                </div>
            </div>
            <div class="khat"></div>

            <div class="right_panelGruop">
                <div>
                    <div>
                        <i class="fas fa-edit"></i>
                        <a href="user/edit">ویرایش اطلاعات</a>
                    </div>
                </div>
                                
                <div>
                    <div>
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <a href="{% url 'changePass' %}"> تغییر پسوورد </a>
                    </div>
                </div>


                <div>
                    <div>
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        <a href="{% url 'user' %}"> سفارشات پرداخت نشده </a>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <a href="{% url 'historyOrder' %}"> تاریخچه سفارشات </a>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <a href="{% url 'addresses' %}"> آدرس‌ها </a>
                    </div>
                </div>
                <div>

                    <a href="{% url 'log-out' %}"> خروج از حساب </a>
                </div>
            </div>
        </div>
    </div>
    <div class="Left_UnpaidOrders">
        <p> سفارشات پرداخت نشده </p>
        <div class="khat"></div>

        <div>
            <table>
                <tr>
                    <th>مرجع سفارش</th>
                    <th>تاریخ</th>
                    <th>وضعیت</th>
                    <th>شماره پیگیری</th>
                    <th>Actions</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <td class="idOrder"><a href="{% url 'editOrder' order.id %}" class="ToPersian idOrder">{{order.id}}</a></td>
                    <td class="ToPersian">{{order.j_payment_date.date|jformat:"%Y/%m/%d"  }}</td>
                    
                    {% if order.is_send is True %}
                    <td class="ToPersian statusOrder sended">
                        <p> ارسال شده </p>
                    </td>
                    {% else %}
                    <td class="ToPersian statusOrder notSended">
                        <p> ارسال نشده </p>
                    </td>
                    {% endif %}
                    {% if order.codeFolowed %}
                    <td class="ToPersian"><a href="" class="ToPersian idOrder">{{order.codeFolowed}}</a></td>
                    {% else %}
                    <td class="ToPersian" style="color: red;">-</td>
                    {% endif %}
                    <td >
                        <div>
                            <!-- <a href="">سفارش مجدد</a> -->
                            <a href="{% url 'pdf_factor' order.id %}">فاکتور</a>
                        </div>
                    </td>
                </tr>
                {% endfor%}
                <!-- <tr>
                    <td class="ToPersian idOrder"><a href="" class="ToPersian idOrder">10235</a></td>
                    <td class="ToPersian">1402/01/01</td>
                    <td class="ToPersian statusOrder notSended">
                        <p> ارسال نشده </p>
                    </td>
                    <td class="ToPersian"><a href="" class="ToPersian idOrder">12556321656584613</a></td>
                    <td class="ToPersian">-</td>
                </tr>

                <tr>
                    <td class="ToPersian idOrder"><a href="" class="ToPersian idOrder">10235</a></td>
                    <td class="ToPersian">1402/01/01</td>
                    <td class="ToPersian statusOrder sended">
                        <p> ارسال شده </p>
                    </td>
                    <td class="ToPersian"><a href="" class="ToPersian idOrder">12556321656584613</a></td>
                    <td class="ToPersian">-</td>
                </tr> -->

            </table>
        </div>

    </div>
</div>


{% endblock %}