.background_add_post{
    /* background-color: red; */
    height: auto;

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: 11rem;
    margin-bottom: 200px;
    /* height: auto; */
}

.background_add_post>form>div:nth-child(2){
    width: 100%;
    padding: 10px;
}



.background_add_post>form{
    width: calc(75% - 40px);
    display: flex;
    flex-direction: column;
}

.background_add_post>form>div>div>P {
    text-align: right;
    font-family: 'mikhak';
    font-size: 20px;
}

.background_add_post>form>p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'samim';
}

.background_add_post>div:nth-child(2) {
    width: 30%;
}

.field{
    position: relative;
    margin: 15px;
    padding: 10px;
    /* height: 45px; */
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #3a3b3885;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    /* font-family: 'Poppins',sans-serif; */
    font-family: 'samim';
    direction: rtl;
    margin-right: 50px;
    margin-left: 80px;
}

.field>div h2{
    color: gray;
    font-size: 16px;
    font-family: 'samim';
}

.field:nth-child(5)>div{
    display: flex;
}

.field:nth-child(5)>div>h2{
    display: flex;
    margin-right: 50px;
    margin-left: 80px;
}

.field select{
    border: none;
    color: #222;
    font-size: 16px;
    font-family: 'samim';
}

.field textarea{
    direction: rtl;
    margin-right: 50px;
    width: 100%;
    border: none;
    color: #222;
    font-size: 16px;
    font-family: 'samim';
    resize: none;
}

.field-sabt {
    display:flex;
    justify-content: center;
}
.field-sabt input:hover{
    background: #83a83e;
}
.field-sabt input{
    direction: rtl;
    margin: 10px 20px;
    background: #dbd067;
    border: 1px solid #f0db1d;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'byekan', sans-serif;
    width: 150px;
    height: 50px;
    transition: all 0.2s ease-in-out;
    white-space: normal;
}


/* hide arrows
 Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none !important;
   margin: 0 !important;
 }

.field_cancel>a{
    display: flex;
    text-align: center;
    margin-left: 20px;
}

.field_cancel>a>h1{
    color: red;
    font-size: 16px;
    font-family: 'samim';
}

.field_cancel>a>svg{
    color: red;
    margin-right: 10px;
    font-size: 25px;
}
 @media all and (max-width: 960px) {
    .background_add_post{
        flex-direction: column-reverse;
    }

    .background_add_post>form {
        width: auto;
    }

    .background_add_post>div:nth-child(2) {
        width: auto;
    }

 }