@import url('/static/css/fonts.css');

.content_accunt {
    position: relative;
    top: 200px;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin-bottom: 200px;
}

.rtl{
    margin-right: 10px;
    padding-right: 20px;
}

.show{
    position: absolute;
    margin-top: 10px;/**/
    top: 15%;
    left: 3%;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    display: none;
    font-family: 'byekan';
}
.password:valid ~ .show{
    display: block;
}

.errror{
    background-color: red!important;
}


.form-group {

    direction: rtl;
    position: relative;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #3a3b3885;
    width: 50%;
}

.form-group div{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.form_name{
    position: relative;
    height: 100%;
    display: block;
    direction: rtl;
}
.rdio_button{
    position: relative;
    height: auto;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rdio_button label{
    font-family: 'samim';
    margin-right: 1.5rem;
    font-size: 18px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_name label{
    font-family: 'samim';
    margin-right: 1.5rem;
    font-size: 18px;
    color: gray;
}




.form_name input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'samim';
}

.send-group {
    text-align: center;
    font-size: 30px;
    padding: 30px 0px 30px 0px;
    color: antiquewhite;
    font-family: 'samim';
    margin-bottom: 5px;
}


.birth_day_content{
    position: absolute;
    top: 20%;
    left: 20px;
    width: 38%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.birth_day_content select{

    top: 0;
    height: 100%;
    border: none;
    outline: none;
    color: rgba(97, 93, 93, 0.822);
    font-size: 16px;
    font-family: 'samim';
}


.birth_day_content select option{
    color: rgba(97, 93, 93, 0.822);
}
