@import url('/static/css/fonts.css');

.backGround_of_list_buy {
    width: auto;
    height: auto;
    position: relative;
    top: 9rem;
    /* overflow :hidden;
    min-height:100px; */
}

.test {
    background-color: red;
    width: 100%;
    height: 200px;
    margin: 10px;
}


.backGround_of_list_buy>div {
    position: relative;
    top: 10%;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    /* height: 50rem; */
    margin: 4%;
}

.backGround_of_list_buy>div>div {
    width: 30%;
}

.backGround_of_list_buy>div .list_for_buy {

    position: relative;
    width: calc(70% - 20px);
    right: 0;
    height: auto;
    border-radius: 20px;
    margin: 10px;
    /* margin-bottom: 20%; */
    border: 1px solid #3a3b385e;
    box-shadow: 2px 2px 2px 1px #3a3b385e;

}

/*!==============================*/
.backGround_of_list_buy>div .title_of_buy {
    /* position: absolute; */
    /* position: fixed; */
    position: sticky;
    width: calc(100% - 10px);
    height: 320px;
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    border: 1px solid #3a3b385e;
}

.footer {
    margin-top: 182px;
}

.backGround_of_list_buy>div .title_of_buy>div:first-child {
    width: 100%;
    padding: 10px;
    /* position: absolute;
    right: 10px;
    top: 5px; */
}

.backGround_of_list_buy>div .title_of_buy>div>p {
    direction: rtl;
    text-align: center;
    font-family: 'mikhak';
    font-size: 20px;
}

.backGround_of_list_buy>div .title_of_buy>div>p>span {
    text-align: center;
    font-family: 'mikhak';
    font-size: 20px;
}

/*!==============================*/
/*agar lazem bod > bardar*/
.backGround_of_list_buy>div .list_for_buy>div:first-child {
    width: 100%;
    padding: 10px;
}

.backGround_of_list_buy>div .list_for_buy>div>P {

    text-align: right;
    font-family: 'mikhak';
    font-size: 20px;
}

/*!========================================*/
.khat {
    position: initial;
    background-color: #3a3b3885;
    width: calc(100% - 10px);
    content: '';
    height: 2px;
    transform: translateX(5px);
}

/*!=======================================*/
.total_of_product {
    width: 100%;
    /*ToDo*/
    height: 15%;

}

.total_of_product div:first-child,
.send_product div:first-child,
.total_of_Price div:first-child {
    width: 50%;
    position: absolute;
    right: 5%;
    text-align: end;
}

.total_of_product div:last-child,
.send_product div:last-child,
.total_of_Price div:last-child {
    width: 50%;
    position: absolute;
    left: 5%;
    direction: rtl;
    text-align: end;
}

.total_of_product div:last-child>p,
.total_of_product div:last-child>p span,
.total_of_product div,
.send_product div:last-child>p,
.send_product div:last-child>p span,
.send_product div,
.total_of_Price div:last-child>p,
.total_of_Price div:last-child>p span,
.total_of_Price div {
    font-family: 'mikhak';
    font-size: 20px;
}

/*!=======================================*/
.send_product {
    width: 100%;
    /*ToDo*/
    height: 15%;
}

/*!=======================================*/
.total_of_Price {
    width: 100%;
    /*ToDo*/
    height: 15%;
    margin-top: 10%;
}

.total_of_Price div:last-child>p,
.total_of_Price div:last-child>p span {
    font-family: 'mikhak';
    font-size: 20px;
    color: red;
}

/*!=======================================*/
.continue_and_buy {
    width: 100%;
    height: 25%;
    position: relative;
}

.continue_and_buy>a {
    color: white;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    background: #dbd067;
    border: 1px solid #f0db1d;
    height: 50px;
    width: 50%;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 2.5;

    font-size: 18px;
    font-family: 'byekan', sans-serif;
    transition: all 0.2s ease-in-out;
}

.continue_and_buy>a:hover {
    background: #83a83e;
}

/*!=======================================*/

.contents_list_of_buy {
    /* background-color: red; */
    width: 100%;
    /*ToDO*/
    height: 93%;
    /* margin-left: 5%; */
}

.contents_list_of_buy .content_list_of_buy {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 2%;

}

.contents_list_of_buy .content_list_of_buy>div {
    /* position: absolute; */
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* background-color: yellowgreen; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #3a3b385e;
}

/*!===========================================*/
.content_list_of_buy>div>img {
    width: 100px;
    height: 92%;
    margin: 4px;
    margin-right: 15px;
    border-radius: 5px;
}

/* .content_list_of_buy> div>div > h4:nth-child(2){
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    text-align: center;
    line-height:5;
} */
.content_list_of_buy>div>div>input:nth-child(2) {
    display: flex;
    align-items: center;
    width: 20%;
    height: 45%;
    /* border: none; */
    border: 1px solid #707566;
    border-radius: 5px;

    margin: 34px 5px;
    /* outline:none; */
    text-align: center;

    font-family: 'samim';
    font-size: 20px;
    font-weight: bold;

    justify-content: center;
    line-height: 5;
}

.content_list_of_buy>div>div>input:active {
    border: none;
    outline: none;
}

.content_list_of_buy>div>div>input:nth-child(2)::-webkit-outer-spin-button,
.content_list_of_buy>div>div>input:nth-child(2)::-webkit-inner-spin-button {
    display: none;
}


/* .content_list_of_buy> div > h4:nth-child(4){  */
.content_list_of_buy>div>div:nth-child(3) {
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.content_list_of_buy>div>div {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    margin-left: 10px;
    align-items: center;
}

.content_list_of_buy>div>div>h4 {
    font-size: 18px;
    /* margin: 27px; */
    margin: 10px;
    width: 100%;
    text-align: center;
}

.content_list_of_buy>div>div>h3 {
    font-size: 18px;
    text-align: center;
    color: #3a3b3885;
}



.content_list_of_buy>div>div>h4:nth-child(4) {
    /* width: 25%; */
    line-height: 2.5;
    margin: 27px;
    width: 50%;
    direction: rtl;
}

.content_list_of_buy>div>div>h4:nth-child(4)>span {
    /* line-height: 2.5; */
    font-size: 18px;
    text-align: center;
    font-family: 'samim';
}

.btn__small__list_of_buy {
    /* padding: 5px 20px; */
    background: #08b025;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45px;
    height: 40px;
    text-align: center;
    font-size: 35px;
    /* margin-top: 30px; */
}

.btn__remove_buy {
    background: #e74225;
}


@media all and (max-width: 1400px) {
    .content_list_of_buy>div>div>h4:nth-child(4) {
        width: auto;
        line-height: 1.5;
        margin: auto;
    }
}


@media all and (max-width: 960px) {

    .backGround_of_list_buy>div {
        flex-direction: column;
    }

    .backGround_of_list_buy>div>div {
        width: 100%;
        height: 455px;

    }

    .backGround_of_list_buy>div .title_of_buy {
        position: absolute;
        width: 100%;
    }

    .backGround_of_list_buy>div .list_for_buy {
        width: 100%;
        right: 2%;
    }

    .content_list_of_buy>div {
        flex-direction: column !important;
    }

    .contents_list_of_buy .content_list_of_buy {
        height: 400px;
    }

    .content_list_of_buy>div>div {
        width: auto !important;
    }

    .content_list_of_buy>div>img {
        width: 60%;
        height: 170px;
        margin-left: 20%;
    }

    .content_list_of_buy>div {
        justify-content: center !important;
    }

}