/* Basic styling */
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* body {
    font-family: sans-serif;
    font-size: 16px;
    height: auto;
    overflow:auto; 
} */

/* html { 
    height: auto; 
    overflow:auto;
    scroll-behavior: smooth;
} */

/* nav {
    background: #3e60a8;
    padding: 0 15px;
} */
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
    z-index: 200;
}
.submenu { 
    position: absolute;
    margin-top: 25px;
    padding: 20px 30px;
    z-index: 500;
    background: #2b3032a1;
    box-shadow: -2px 2px 70px -25px rgba(0,0,0,.3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


.item {
    padding: 0px 10px;
    background: rgba(11, 31, 211, 0.6);
    /* background: blue; */
    /* z-index: 400000000; */
    /* height: 100%; */
}

.item a {
    height: 100%;
    font-size: 20px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 106px;
    right: 0;
    width: 100%;
    height: 4rem;
    position: fixed;
    background: rgba(11, 31, 211, 0.6);
    z-index: 6;
}

    
.menu.sticky {
    top: 0px;
    padding: 0px 0;
    margin: 0px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.has-submenu:hover>a::after {
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}



.has-submenu>a::after {
    content: '';
    position: absolute;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);

}

.search {
    font-size: 30px;
    height: 100%;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.basket {
    font-size: 30px;
    color: #fff;
    height: 100%;
    margin-left: 15px;
    cursor: pointer;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
    /* border-bottom: 1px solid white; */
}

.submenu li{
    /* border-bottom: 1px solid white; */
    margin-right: 30px;
}
.submenu li:last-child{
    border-bottom: none;
}

/* .menu li.submenu  {
    position: relative;
} */

/* .menu li.submenu > .subitem {
    position: absolute;
    border: 2px solid white;
} */

/* .menu li.subitem::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
} */
.toggle {
    order: 1;
    font-size: 30px;
    margin-right: 15px;
}
.item.button {
    order: 2;
}
/*++++++++++++++++++++++*/


.item {
    order: 3;
    text-align: center;
    display: none;
}

/* .submenu.mega-menu-column-4 > .list-item.text-center .title{
    display: block;
    width: 100%;
} */
.submenu.mega-menu-column-4 > .list-item.text-center .title{
    text-align: center;
    width: 100%;
}

.submenu.mega-menu-column-4 > .list-item .title{
    color: #faa000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
    width: 100%;

}

.submenu.mega-menu > .list-item > ul > li > a{
    color: #ccc;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}



/* .submenu.mega-menu{
    display: none;
} */
/*=====================*/
.submenu.mega-menu.active{
    opacity: 1;
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    background: #3e60a8;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    visibility: visible;
    /* flex-wrap: wrap; */
    overflow: scroll;
}
.mobile-menu-head
{
    /* position: fixed; */
    width: 100%;
    color: #faa000;
    right: 0;
}

.mobile-menu-head .mobile-menu-close svg
{
    position: absolute;
    right: 50px;
    height: 50px;
    font-size: 30px;
}


.fontSamim{
    font-family: 'samim';
}
.active .item {
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
}
.none_under_line{
    border-bottom: none!important;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
/* .submenu {
    display: none;
} */
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}

.has-submenu  a{
    color: white!important;
    cursor: pointer;
    /* font-family: 'samim'; */
} 

.has-submenu a:hover{
    color: #ccc!important;
} 


.subitem a {
    padding: 10px 15px;
}
/* total*/
.cart__count{
    display: flex;
    /* flex-direction: row-reverse; */
}

.cart__count .total__counter{
    position: absolute;
    color: white;
    margin-left: 5px;
    /* margin-top: 5px; */
    /* margin-top: -60px;  */
    margin-top: -40px; 
    
}

.cart__count .total__counter a{
    background-color: #faa000;
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.cart{
    width: 100%;
    position: fixed;
    z-index: 100;
}
.cart__items{
    z-index: 10;
    display: none;
    /* position: absolute; */
    left: 40px;
    top: 190px;
    background: #fff;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px rgba(117, 117, 117, .3);
}
.cart__items::-webkit-scrollbar {
    width: 14px;
  }
  
.cart__items::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
  }

.cart__items.active{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .mobile-cart-close{
    background-color: red;
    display: block;
} */

.mobile-cart-head
{
    /* position: fixed; */
    width: 100%;
    color: #faa000;
    right: 0;
    margin-bottom: 50px;
}

.mobile-cart-head .mobile-cart-close svg
{
    position: absolute;
    right: 50px;
    height: 50px;
    font-size: 30px;
}

.cart__items .req {
    position: fixed;
    top: 180px;
}

.cart__items .req::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: -5px;
    left: calc((100%)/2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: none;
}

/*cart item*/
.cart__item{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    border-bottom: 1px dashed rgb(212, 212, 212);
}
/*Todo*/
.cart__item>*{
    margin: 10px;
}
.cart__item >a> img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.btn__small{
    padding: 5px 10px;
    background: #08b025;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn__remove{
    background: #e74225;
}

.check_out{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    padding: 20px 10px;
}

.check_out>*{
    margin: 10px;
}

.check_out .btn{
    border: none;
    font-family: 'vazir';
    padding: 7px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 60px;
    font-weight: bold; 
}
.check_out .kharidUp{
    background: #dbd067;
}

.check_out .kharidUp:hover{
    background: #83a83e;
}
/* Tablet menu */
@media all and (min-width: 700px) {
    .cart__count  .total__counter{

        margin-top: -60px; 
    }
    .check_out{
       flex-direction: row;
    }
    .check_out .btn{
        width: auto;
        height: auto;
    }
    .cart__items{
        z-index: 10;
        display: none;
        position: absolute;
        left: 40px;
        top: 190px;
        background: #fff;
        width: 700px;
        padding: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 0 10px rgba(117, 117, 117, .3);
    }
    .cart__items.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 40px;
        top: 190px;
        width: 700px;
        height: auto;

    }
    .cart__items.active.sticky{
        top: 80px;
    }
    .mobile-cart-close{
        display: none;
    }
    .cart__items.active.sticky .req {
        position: fixed;
        left: 70px;
        top: 70px;
    }

    .cart__items.active .req {
        position: fixed;
        left: 70px;
        top: 180px;
    }
  
    .cart__items .req::before{
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        background: rgb(255, 255, 255);
        top: -5px;
        left: 25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        display: block;
    }
    /* .cart__items::afet{
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        background: rgb(255, 255, 255);
        top: -5px;
        left: 25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        display: block;
    } */
    .menu {
        justify-content: center;

    }
    .logo {
        flex: 1;
        height: 100%;

    }

    .logo_h {
        flex: 10;
        height: 100%;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;  
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {

    .cart__items{
        z-index: 10;
        display: none;
        position: absolute;
        left: 40px;
        top: 190px;
        background: #fff;
        width: 700px;
        padding: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 0 10px rgba(117, 117, 117, .3);
    }
    /**/
    .check_out{
        flex-direction: row;
     }
     .check_out .btn{
        width: auto;
        height: auto;
    }
    .cart__item>*{
        margin: 20px;
    }
    .cart__items.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 40px;
        top: 190px;
        width: 700px;
        height: auto;
        overflow-y: auto;
    }
    .cart__items.active.sticky{
        top: 80px;
    }
    .mobile-cart-close{
        display: none;
    }

    .cart__items.active.sticky .req {
        position: fixed;
        left: 35px;
        top: 70px;
    }

    .cart__items.active .req {
        position: fixed;
        left: 35px;
        top: 180px;
    }

    .cart__items .req::before{
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        background: rgb(255, 255, 255);
        top: -5px;
        left: 25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        display: block;
    }
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
        background: rgba(11, 31, 211, 0.6);
    }
    .logo {
        order: 0;
        height: 100%;
    }
    .logo_h {
        order: 0;
        height: 100%;
    }
    .item {
        order: 1;
        display: block; 
        background: none;
    }
     .active .item {
        border-bottom: none;
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        /* align-items: center!important; */
    }

    .has-submenu:hover .submenu
    {
        opacity: 1;
        visibility: visible;
        margin-top: 3px;
    } 
    .toggle {
        display: none;
    }

    .submenu.mega-menu,
    .submenu.mega-menu.active
    {
        position: absolute;
        direction: rtl;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 100%;
    }

    .submenu,
    .submenu.mega-menu.active { 
        position: absolute;
        margin-top: 25px;
        padding: 20px 30px;
        z-index: 500;
        background: #2b3032a1;
        box-shadow: -2px 2px 70px -25px rgba(0,0,0,.3);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    
    .submenu.mega-menu-column-4 > .list-item  img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    
    .submenu.mega-menu-column-4 > .list-item.text-center .title{
        text-align: center;
        width: 100%;
    }
    
    .submenu.mega-menu-column-4 > .list-item .title{
        color: #faa000;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        padding: 10px 0;
        width: 100%;
    
    }
    
    .submenu.mega-menu > .list-item > ul > li > a{
        color: #ccc;
        font-size: 15px;
        padding: 10px 0;
        display: inline-block;
        transition: color .3s ease;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
        -o-transition: color .3s ease;
    }
    
    .submenu.mega-menu-column-4 > .list-item{
        flex: 0 0 25%;
        padding: 0 15px;
    }

    .mobile-menu-head
    {
        display: none;
    }
    /* .submenu-active {
        border-radius: 0;
    } */
}

.fontSize_20{
    font-size: 20px;
}

.fontSize_16{
    font-size: 16px;
}