<div class="footer_menu">
    <div class="col_1">
      <div class="title">
        معرفی اسپاد 
      </div>
      <ul>
        <li><p>{{setting.about_us}}</p></li>
      </ul>
    </div>
    <div class="col_2">
      <div class="title">
        تماس با ما
      </div>
      <ul>
        <li><p>تلفن <span class="ToPersian">{{setting.phone}}</span> </p></li>
        <li><p>فکس <span class="ToPersian">{{setting.fax}}</span></p></li>
        <li><p>رایانامه {{setting.email}}</p></li>
        <li><p>{{setting.address}}</p></li>
      </ul>
    </div>
    <div class="col_3">
      <div class="title">
        خدمات
      </div>
      <ul>
        <li><a href="/products">محصولات</a></li>
        <li><a href="/about-us">درباره ی ما</a></li>
        <li><a href="#"> تماس با ما</a></li>
        <li><a href="#">شکایات</a></li>
        <li><a href="#">قوانین و مقررات</a></li>
        <li><a href="#">سؤالات متداول</a></li>
      </ul>
    </div>
    <!-- <div class="col_4">
      <div class="title">
        Solution
      </div>
      <ul>
        <li><a href="#">Facilities Services</a></li>
        <li><a href="#">Workplace Staffing</a></li>
        <li><a href="#">Project Management</a></li>
        <li><a href="#">Wordpress Management</a></li>
      </ul>
    </div> -->
  </div>