{% load static %}
{% load render_partial %}

<div class="footer">
  {% render_partial 'about_page_footer' %}

    <!-- <div class="partners">
        <ul>
            <li><a class="partner1" href="#"></a></li>
            <li><a class="partner2" href="#"></a></li>
            <li><a class="partner3" href="#"></a></li>
            <li><a class="partner4" href="#"></a></li>
            <li><a class="partner5" href="#"></a></li>
        </ul>
    </div> -->
    <div class="social_media">
      <ul>
        <!-- <li><a href="#" class="facebook">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a></li>
            <li><a href="#" class="twitter">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a></li> -->
        <li><a href="#" class="instagram" >
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a></li>
        <li><a href="#" class="whatsapp">
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
          </a></li>
      </ul>
      <p>Copyright C Coding Market</p>
    </div>
  </div>