{% load static %}
{% load mathfilters %}



<!DOCTYPE html>
<html>
<head lang="fa-IR">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{domain}}{% static 'css/cartToCartPeyment.css' %}">
    <link rel="stylesheet" href="{{domain}}{% static 'css/post_order.css' %}">
    
    <link rel="stylesheet" href="{{domain}}{% static 'css/UnpaidOrder.css' %}">
    
    <link rel="stylesheet" href="{{domain}}{% static 'css/details_order.css' %}">
    <title></title>
</head>
<body style="width: 95%;">

    <div class="bill" style="width: 100%;">
        <table style="width: 100%;">
            <tr>
                <th>نام کالا</th>
                <th>تعداد</th>
                <th>قیمت واحد (تومان)</th>
                <th>جمع قیمت (تومان)</th>
            </tr>
            {% for order_detail in order_details %}
            <tr>
                <td>
                    <div><img src="{{domain}}{{order_detail.product.image_tumpnail.url}}" alt=""><p style="margin-top: 0%;">{{order_detail.product.title}}</p></div>
                    <div class="ToPersian"><p style="margin-top: -2%;">کد کالا:</p>{{order_detail.product.code}}</div>
                </td>
                <td class="ToPersian">{{order_detail.count}}</td>
                <td class="ToPersian">{{order_detail.product.price}}</td>
                <td class="ToPersian">{% widthratio order_detail.count 1 order_detail.product.price %}</td>
    
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">مجموع قیمت کالا</td>
                <td colspan="2" class="ToPersian">{{total_price_ofProduct}} تومان</td>
            </tr>
            <tr>
                <td colspan="2">حمل‌و‌نقل</td>
                <td colspan="2" class="ToPersian">{{post_price}} تومان</td>
            </tr>
            <tr>
                <td colspan="2">جمع کل</td>
                <td colspan="2" class="ToPersian">{{ post_price|add:total_price_ofProduct }} تومان</td>
            </tr>
        </table>
    </div>

</body>


</html>






